.newsletter {
    width: 100%;
    background-color: rgb(243, 243, 243);
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.newsletter h2 {
    font-size: 24px;
    @include respond-to ($bp-md) {
        font-size: 24px;
    }
}
.newsletter p {
    font-size: 12px;
    @include respond-to ($bp-md) {
        font-size: 12px;
    }
}
